html
    head
        link(rel="stylesheet" href="/index.css")
    body 
        h1 User profile page
        h2.gold Nickname
        div= nickname

        g2.Profile
        img(src=profileImageURL).profileImage
        form(action=`/users/${userId}/profile` method="post" enctype="multipart/form-data") 
            input(type="file" name="profile" )
            button Upload Profile Picture        
        