{% extends 'layout.html' %}

{% block content %}

  <div>
    <div class="half"><h2>내정보변경</h2>
    
      <div class="timeline">
        <form id="join-form" action="/auth/editProfile" method="post">
          <div class="input-group">
            <label for="join-email">이메일</label>
            <input id="join-email" type="email" name="email" value="{{user.email}}" ></div>
          <div class="input-group">
            <label for="join-nick">닉네임</label>
            <input id="join-nick" type="text" name="nick" value="{{user.nick}}"></div>
          <div class="input-group">
            <label for="join-password">비밀번호</label>
            <input id="join-password" type="password" name="password" value="">
          </div>
          <button id="join-btn" type="submit" class="btn">프로필 수정하기</button>
        </form>
      </div>

    </div>
  
  </div>

  <div class="timeline">
    <div class="followings half">
      <h2>팔로잉 목록</h2>
      {% if user.Followings %}
        {% for following in user.Followings %}
          <form method="get" action="/user/{{following.id}}/follow">
            <div style="display:inline-flex;">
              <input type="hidden" value="{{following.id}}" />
              <div style="margin-right : 5px;">{{following.nick}}</div>
              <div><input type="submit" value="팔로잉 끊기({{following.id}})"></input></div>
            </div>
          </form>
        {% endfor %}
      {% endif %}
    </div>
    <div class="followers half">
      <h2>팔로워 목록</h2>
      {% if user.Followers %}
        {% for follower in user.Followers %}
          <div>{{follower.nick}}</div>
        {% endfor %}
      {% endif %}
    </div>

    
  </div>
  
{% endblock %}
