.input {
  background-color: #ff00ff;
}

.item {
  background-color: #ffff00;
}

.header {
  background-color: #00ff00;
}

.footer {
  background-color: #00ffff;
}

.list {
  background-color: #0000ff;
}

.centered {
  display: flex;
  background-color: #FFFFFF;
  flex-direction: column;
  padding: 20px;
  position: relative;
  align-items: center;
}

.align_centered {
  text-align: center;
}

.item_table {
  border-width: 1px;
  border-color: #aaaaaa;
  border-style: solid;
}

.item_id {
  width: 80px;
}

.item_name {
  width: 320px;
}

.item_price {
  width: 100px;
}
